	
                  	<div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                    	<div class="card">
                        	<div class="card-header">
                                <h3>Hitorique des commandes</h3>
                            </div>
                            <div class="card-body">
                    			<div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Commande</th>
                                                <th>Date</th>
                                                <th>Statut</th>
                                                <th>Total</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% commandes.forEach(commande => { %>
                                                <tr>
                                                    <td> #<%= commande.id %></td>
                                                    <td> <%= commande.datecommande.toLocaleDateString("fr-FR") %> </td>
                                                    <td> <%= commande.Statutcommande?.nom?? "" %> </td>
                                                    <td> <%= commande.montantttc.toLocaleString("fr-FR")  %> <%= entreprise.devise %> </td>
                                                    <td><a href="#" class="btn btn-fill-out btn-sm">Détails</a></td>
                                                </tr>
                                            <% }) %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                  	</div>