<%- include('sections/start.html') %>
<!-- End Screen Load Popup Section --> 
<!-- START HEADER -->
    <%- include('sections/header.html') %>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
 <%- include('sections/breadcrumb.html') %> 
<!-- END SECTION BREADCRUMB -->
<%# include('sections/banner_slider.html') %>
<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START 404 SECTION -->
<%- include('components/404Component.html') %>
<!-- END 404 SECTION -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
<%- include('sections/newsletter.html') %>
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
    <%#- include('sections/footer.html') %>
<!-- END FOOTER -->

<!-- START FOOTER -->
<%- include('sections/footer.html') %>
<!-- END FOOTER -->
<%- include('sections/end.html') %>