<%- include('sections/start.html') %>
<!-- End Screen Load Popup Section --> 
<!-- START HEADER -->
    <%- include('sections/header.html') %>
<!-- END HEADER -->
<%- include('sections/banner_slider.html') %>
<!-- START SECTION BREADCRUMB -->
 <%# include('sections/breadcrumb.html') %> 
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">
    <%- include('sections/produits_slider.html') %>
<%- include('sections/produits_liste.html') %>
<%- include('sections/newsletter.html') %>
<%- include('sections/livraison.html') %>
<!-- START 404 SECTION -->
<%# include('components/404Component.html') %>
<!-- END 404 SECTION -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
<!-- START SECTION SUBSCRIBE NEWSLETTER -->
</div>
<%#- include('sections/newsletter.html') %>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
    <%- include('sections/footer.html') %>
<!-- END FOOTER -->
<%- include('sections/end.html') %>