<div class="section pb_20">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-4">	
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-shipped"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5><%= composants.livraisons.livraison.titre %></h5>
                        <p><%= composants.livraisons.livraison.message %></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">	
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-money-back"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5><%= composants.livraisons.retours.titre %></h5>
                        <p><%= composants.livraisons.retours.message %></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">	
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5><%= composants.livraisons.support.titre %></h5>
                        <p><%= composants.livraisons.support.message %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>